.meal-card {
  display: flex;
  flex-direction: column;
  box-shadow: 0 1px 8px rgba($color: #444444, $alpha: 1);
  margin: 1%;
}

mat-card-content {
  flex: 1;
}

.header {
  display: flex;
  background-color: #161616;
  align-items: baseline;
  line-height: 250%;
}

.total-header {
  display: flex;
  background-color: #000000;
  align-items: baseline;
  line-height: 250%;
}

.ingredients-form-field {
  width: 30%;
  height: 60%;
  font-size: small;
}

table td {
  font-size: small;
}

table th {
  font-size: small;
}
