<mat-card class="meal-card">
  <mat-card-content>
    <div class="total-header">
      <div style="width: 20%" class="meal-colum">
        @if (editing()) {
          <input
            #inputQuantity
            (blur)="finishEdit()"
            style="width: 90%"
            matInput
            type="text"
            [(ngModel)]="meal().name"
          />
        } @else {
          <span (click)="startEdit()">
            {{ meal().name }}
          </span>
        }
      </div>
      <div style="width: 9%" class="meal-colum">
        <span> Quantidade </span>
      </div>
      <div style="width: 9%" class="meal-colum">
        <span> Calorias </span>
      </div>
      <div style="width: 9%" class="meal-colum">
        <span> Proteinas </span>
      </div>
      <div style="width: 9%" class="meal-colum">
        <span> Carboidratos </span>
      </div>
      <div style="width: 9%" class="meal-colum">
        <span> açucar </span>
      </div>
      <div style="width: 9%" class="meal-colum">
        <span> Gorduras </span>
      </div>
      <div style="width: 9%" class="meal-colum">
        <span> Fibras </span>
      </div>
      <div style="width: 9%" class="meal-colum">
        <span> Sódio </span>
      </div>
      <div style="width: 8%; text-align: center" class="meal-colum">
        <button matTooltip="Sua dieta" matIconButton aria-label="diet" (click)="deleteMeal()" >
          <mat-icon>delete</mat-icon>
        </button>
      </div>
    </div>
    <mat-divider></mat-divider>
    <div class="header">
      <div style="width: 20%" class="meal-colum">
        <span> Ingredientes </span>
      </div>
      <div style="width: 9%" class="meal-colum">
        <span> </span>
      </div>
      <div style="width: 9%" class="meal-colum">
        <span> {{ totals().calorie | number: '1.1-1' }} </span>
      </div>
      <div style="width: 9%" class="meal-colum">
        <span> {{ totals().protein | number: '1.1-1' }} </span>
      </div>
      <div style="width: 9%" class="meal-colum">
        <span> {{ totals().carbohydrate | number: '1.1-1' }} </span>
      </div>
      <div style="width: 9%" class="meal-colum">
        <span> {{ totals().sugar | number: '1.1-1' }} </span>
      </div>
      <div style="width: 9%" class="meal-colum">
        <span> {{ totals().fat | number: '1.1-1' }} </span>
      </div>
      <div style="width: 9%" class="meal-colum">
        <span> {{ totals().fiber | number: '1.1-1' }} </span>
      </div>
      <div style="width: 9%" class="meal-colum">
        <span> {{ totals().sodium | number: '1.1-1' }} </span>
      </div>
      <div style="width: 8%; text-align: center" class="meal-colum"></div>
    </div>
    @for (ingredient of meal().ingredients; track ingredient.ingredientId; let i = $index) {
      <app-meal-row
        [ingredient]="ingredient"
        (ingredientChange)="onChangeIngredient($event, i)"
        [(ingredients)]="ingredientsState"
        (onDelete)="deleteIngredient(i)"
      />
    }
        <mat-divider></mat-divider>
        <button (click)="pushNewIngredient()" matTooltip="Sua dieta" matIconButton aria-label="diet">
      <mat-icon>add</mat-icon>
    </button>
  </mat-card-content>
</mat-card>
