<div class="total-header">
  <div style="width: 32%" class="meal-colum">
    @if (editing()) {
      <input
        #inputQuantity
        (blur)="finishEdit()"
        style="width: 90%"
        matInput
        type="text"
        [(ngModel)]="meal().name"
      />
    } @else {
      <span (click)="startEdit()">
        {{ meal().name }}
      </span>
    }
  </div>
  <div class="meal-column">
    <span> Qtd </span>
  </div>
  <div class="meal-column">
    <span> Calori </span>
  </div>
  <div class="meal-column">
    <span> Protei </span>
  </div>
  <div class="meal-column">
    <span> Carbo </span>
  </div>
  <div class="meal-column">
    <span> Açucar </span>
  </div>
  <div class="meal-column">
    <span> Gordur </span>
  </div>
  <div class="meal-column">
    <span> Fibras </span>
  </div>
  <div class="meal-column">
    <span> Sódio </span>
  </div>
  <div style="width: 4%;" class="meal-colum">
      <mat-icon style="cursor: pointer;" (click)="deleteMeal()">delete</mat-icon>
  </div>
</div>
<mat-divider></mat-divider>
<div class="header">
  <div style="width: 32%" class="meal-colum">
    <span> Ingredientes </span>
  </div>
  <div class="meal-column">
    <span> </span>
  </div>
  <div class="meal-column">
    <span> {{ totals().calorie | number: '1.1-1' }} </span>
  </div>
  <div class="meal-column">
    <span> {{ totals().protein | number: '1.1-1' }} </span>
  </div>
  <div class="meal-column">
    <span> {{ totals().carbohydrate | number: '1.1-1' }} </span>
  </div>
  <div class="meal-column">
    <span> {{ totals().sugar | number: '1.1-1' }} </span>
  </div>
  <div class="meal-column">
    <span> {{ totals().fat | number: '1.1-1' }} </span>
  </div>
  <div class="meal-column">
    <span> {{ totals().fiber | number: '1.1-1' }} </span>
  </div>
  <div class="meal-column">
    <span> {{ totals().sodium | number: '1.1-1' }} </span>
  </div>
  <div style="width: 4%; text-align: center" class="meal-colum"></div>
</div>
@for (ingredient of meal().ingredients; track ingredient.ingredientId; let i = $index) {
  <app-meal-row
    [ingredient]="ingredient"
    (ingredientChange)="onChangeIngredient($event, i)"
    [(ingredients)]="ingredientsState"
    (onDelete)="deleteIngredient(i)"
  />
}
<mat-divider></mat-divider>
<button (click)="pushNewIngredient()" matTooltip="Sua dieta" matIconButton aria-label="diet">
  <mat-icon>add</mat-icon>
</button>
<mat-divider></mat-divider>
