<mat-divider></mat-divider>

<div class="meal-row">
  <div  style="width: 32%" class="meal-colum">
    @if (editing().ingredient !== getIngredientEditId(ingredientState())) {
      <span (click)="startEditIngredient(ingredientState())" >
        {{ ingredientState().name }}
      </span>
    } @else {
      <input
        #inputIngredient
        type="text"
        aria-label="Number"
        matInput
        style="width: 90%"
        [(ngModel)]="searchTerm"
        [matAutocomplete]="auto"
      />
      <mat-autocomplete
        (closed)="clearEditing()"
        (optionSelected)="newIngredientSelected($event)"
        #auto="matAutocomplete"
      >
        @if (filteredIngredients().length === 0) {
          <mat-option [value]="null" >Ingrediente Não encontrado</mat-option>
        }
        @for (ingredientSelect of filteredIngredients(); track ingredientSelect.id) {
          <mat-option [value]="ingredientSelect">{{ ingredientSelect.name }}</mat-option>
        }
      </mat-autocomplete>
    }
  </div>
  <div class="meal-column">
    @if (editing().quantity != getIngredientEditId(ingredientState())) {
      <span (click)="startEditQuantity(ingredientState())">
        {{ quantityState()  + (ingredientState().unit === 1 ? 'g' : 'un')}}
      </span>
    } @else {
      <input
        #inputQuantity
        (blur)="finishEditQuantity()"
        style="width: 90%"
        matInput
        type="number"
        [(ngModel)]="quantityState"
        (ngModelChange)="emitIngredient()"
      />
    }
  </div>
  <div class="meal-column">
    {{ calorieComputed() | number: '1.1-1' }}
  </div>
  <div class="meal-column">
    {{ proteinComputed() | number: '1.1-1' }}
  </div>
  <div class="meal-column">
    {{ carbohydrateComputed() | number: '1.1-1' }}
  </div>
  <div class="meal-column">
    {{ sugarComputed() | number: '1.1-1' }}
  </div>
  <div class="meal-column">
    {{ fatComputed() | number: '1.1-1' }}
  </div>
  <div class="meal-column">
    {{ fiberComputed() | number: '1.1-1' }}
  </div>
  <div class="meal-column">
    {{ sodiumComputed() | number: '1.1-1' }}
  </div>
  <div style="width: 4%; text-align: center" class="meal-colum">
      <mat-icon (click)="deleteRow()" style="cursor: pointer;">delete</mat-icon>
  </div>
</div>
